.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.image-container {
  perspective: 1000px;
}

.image-container:hover .image {
  transform: rotateY(180deg);
}

.image {
  transition: transform 1s;
  backface-visibility: hidden;
}

.background-image {
  background-size: cover;
  background-position: center;
}
