.background-image {
  background-image: url('../public/dark%20pearly%20textured.png');
  background-size: cover;
  background-position: center;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-container {
  perspective: 1000px;
}

.image-container:hover .image {
  transform: rotateY(180deg);
}

.image {
  transition: transform 1s;
  backface-visibility: hidden;
}
